body {
    margin: 0;
}

.topbar {
    height: 10vh;
    /* background: red; */
    display: flex;
    flex-direction: column;
}

.mid {
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.tabs {
    height: 30px;
    background: #f88;
}

.content {
    display: flex;
    flex-direction: row;
    /* height: calc(90vh - 60px); */
}

.canvas{
    border: 3px solid #000;
}
.tools-right {
    /* border: 1px solid; */
    width: 200px;
}

.colors , .layers{
    height: 50%;
    display: grid;
    place-items: center;
}
